/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-secondary: #ebedf0;
  --ifm-color-success: #00a400;
  --ifm-color-info: #54c7ec;
  --ifm-color-warning: #ffba00;
  --ifm-color-danger: #fa383e;
  --ifm-color-primary-dark: #306cce;
  --ifm-color-primary-darker: #2d66c3;
  --ifm-color-primary-darkest: #2554a0;
  --ifm-color-primary-light: #538ce9;
  --ifm-color-primary-lighter: #72a1ed;
  --ifm-color-primary-lightest: #9abcf2;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-emphasis-0: var(--ifm-color-gray-1000);
  --ifm-color-emphasis-100: var(--ifm-color-gray-900);
  --ifm-color-emphasis-200: var(--ifm-color-gray-800);
  --ifm-color-emphasis-300: var(--ifm-color-gray-700);
  --ifm-color-emphasis-400: var(--ifm-color-gray-600);
  --ifm-color-emphasis-600: var(--ifm-color-gray-400);
  --ifm-color-emphasis-700: var(--ifm-color-gray-300);
  --ifm-color-emphasis-800: var(--ifm-color-gray-200);
  --ifm-color-emphasis-900: var(--ifm-color-gray-100);
  --ifm-color-emphasis-1000: var(--ifm-color-gray-0);
  --ifm-color-primary-contrast-background: #102445;
  --ifm-color-primary-contrast-foreground: #ebf2fc;
  --ifm-color-secondary-contrast-background: #474748;
  --ifm-color-secondary-contrast-foreground: #fdfdfe;
  --ifm-color-success-contrast-background: #003100;
  --ifm-color-success-contrast-foreground: #e6f6e6;
  --ifm-color-info-contrast-background: #193c47;
  --ifm-color-info-contrast-foreground: #eef9fd;
  --ifm-color-warning-contrast-background: #4d3800;
  --ifm-color-warning-contrast-foreground: #fff8e6;
  --ifm-color-danger-contrast-background: #4b1113;
  --ifm-color-danger-contrast-foreground: #ffebec;
}
